.cl-white{
    color: #fff;
}

.cl-black {
    color: #000 !important;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E9ECEF;
    height: 340px;
}

.bold-text {
    font-weight: 700;
}

.works-section table td {
    color: #007BFF;
}

.works-section {
    overflow: auto;
}

.footer {
    text-align: center;
    background-color: #F5F5F5;
    color: #6C757D;
    height: 51px;
}

.footer p {
    line-height: 51px;
}

@media screen and (max-width: 576px) {
    .footer {
        height: 71px;
    }
    .footer p {
        line-height: 71px;
    }
}

